/*
  一応抜け落ちている部分には
  ???という形でヒントを書いておきました。
  もちろん無視してもOKですし、
  もっと多く書き加えても大丈夫です。
*/


/*
  共通
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #DDD;
  padding-top: 50px;
}

.container {
  width: 900px;
  margin: 0 auto;
}


/*
  ヘッダー部分
*/

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #DDD;
  width: 100%;
  border-bottom: 5px solid #0095a3;
}

nav {
  overflow: hidden;
}

nav .logo {
  font-size: 18px;
}

nav ul {
  /* ??? */
  /* ??? */
}

nav li {
  /* ??? */
}

nav a {
  text-decoration: none;
  padding: 12px 20px;
  font-size: 18px;
  color: #000;
  line-height: 21px;
  /* ??? */
}

nav li a:hover {
  background: #0095a3;
  color: #DDD;
}


/*
  メインビジュアル
*/

.main-visual {
  /* ??? */
}

.main-visual img {
  width: 100%;
  max-height: 500px;
}

.main-visual .title {
  /* ??? */
  /* ??? */
  text-align: center;
  width: 100%;
  color: #DDD;
  font-size: 60px;
  font-family: 'Play', sans-serif;
}

.main-visual .explanation {
  /* ??? */
  /* ??? */
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #DDD;
}


/*
  カラムレイアウト
*/

.row {
  /* ??? */
  /* ??? */
}

.col-4 {
  /* ??? */
  /* ??? */
  /* ??? */
}

.col-2 {
  /* ??? */
  /* ??? */
  /* ??? */
}

.col-1 {
  /* ??? */
  /* ??? */
  /* ??? */
}


/*
  セクションの設定
*/

.section {
  margin-top: 120px;
}

.section h1 {
  text-align: center;
  margin-bottom: 30px;
}

.section h1:before,
.section h1:after {
  content: '-';
  margin: 0 20px;
}

.news img {
  width: 100%;
  height: auto;
  /* ??? */
}

.news .text {
  font-size: 18px;
  text-align: center;
}

.photo .col-1,
.photo .col-2,
.photo .col-4 {
  margin-bottom: 4px;
}

.photo img {
  width: 100%;
}

.sns .flexbox {
  /* ??? */
}

.sns .flexbox .icon {
  /* ??? */
}

.sns img {
  width: 60%;
  margin: 0 20%;
}


/*
  フッター部分
*/

footer {
  margin-top: 70px;
  background: #0095a3;
  padding: 20px 0;
}

footer p {
  color: #DDD;
  text-align: center;
}

#go-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
}


/*
  上に戻るボタン
*/

#go-top img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  padding: 20px;
  background: #fff;
}